<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="/cadastrarContato" class="nav-link px-2 text-body-secondary">Cadastro</a></li>
            <li class="nav-item"><a href="/favoritos" class="nav-link px-2 text-body-secondary">Favoritos</a></li>
            <li class="nav-item"><a href="/pesquisarContato" class="nav-link px-2 text-body-secondary">Pesquisar</a></li>
            <li class="nav-item"><a href="/sobre" class="nav-link px-2 text-body-secondary">Sobre</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2025 Soler, Vitor</p>
    </footer>
</div>