<div class="container mt-4">
    <h2>Contatos Favoritos</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col" *ngFor="let c of contatosFavoritos">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <h5 class="card-title">{{c.nomeCompleto}}({{c.apelido}})</h5>
                    <p class="card-text mb-1"><strong>Telefone:</strong> {{c.telefone}}</p>
                    <p class="card-text mb-1"><strong>Email:</strong> {{c.telefone}}</p>
                    <p class="card-text mb-1"><strong>Endereço:</strong>{{c.endereco}}</p>
                    <p class="card-text"><strong>Categoria:</strong> {{c.categoria}}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-sm btn-outline-primary">Ver Detalhes</button>
                    <button class="btn btn-sm btn-outline-secondary">Editar</button>
                    <button class="btn btn-sm btn-outline-danger">Remover dos Favoritos</button>
                </div>
            </div>
        </div>
    </div>
</div>