<div class="container mt-4">
    <h2>Contatos Favoritos</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <h5 class="card-title">João da Silva(Apelido)</h5>
                    <p class="card-text mb-1"><strong>Telefone:</strong> (11) 98765-4321</p>
                    <p class="card-text mb-1"><strong>Email:</strong> joao email.com</p>
                    <p class="card-text mb-1"><strong>Endereço:</strong>Rua bolsonaro, 568, Brasilia</p>
                    <p class="card-text"><strong>Categoria:</strong> Trabalho</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-sm btn-outline-primary">
                        Ver Detalhes
                    </button>
                    <button class="btn btn-sm btn-outline-secondary">
                        Editar
                    </button>
                    <button class="btn btn-sm btn-outline-danger">
                        Remover dos Favoritos
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>