<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Gerenciador de Contatos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="gerenciadorContatos"
    aria-controls="gerenciadorContatos" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/cadastrarContato">Cadastrar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/favoritos">Favoritos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/pesquisarContato">Pesquisar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/exibirContatos">Contatos</a>
      </li>
    </ul>
  </div>
</nav>